extends layout

block content
	h1 Create a new team!
	p You are logged in as #{session.username}:
	form#formAddUser(name="createteam", method="post", action="/createteam")
		input#inputUserName(type="text", placeholder="Team Name", name="teamname")
		br
		| Game: 
		select(name="teamgame")
			option(selected="true", value="dota2") Dota 2
		br
		| Region: 
		select(name="gameregion")
			each region, i in session.games.dota2.regions
				option(value=region)= region
		br
		button#btnSubmit(type="submit") Submit