doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Scrim Findr
    nav
      if session.username
        a (href='/home/') Home
        a (href='/teams/') Teams
        a (href='/logout/') Logout
      else
        a (href='/signup/') Sign Up
        a (href='/login/') Login
    block content