extends layout

block content
	h1 Welcome to Scrim
	p You were redirected from "#{ref}"
	p Enter your login details
	form#formAddUser(name="adduser", method="post", action="/login")
		input#inputUserName(type="text", placeholder="Username", name="username")
		br
		input#inputUserPass(type="text", placeholder="Password", name="userpass")
		br
		button#btnSubmit(type="submit") Submit