body {
	background: #eee;
  font: Helvetica, Arial, sans-serif;
  
}

body>header {
	background: #555;
	color: #D13E19;
	height: 70px;
	line-height: 70px;
	padding-left: 100px;
}

body>nav {
	background: #555;
	color: #D13E19;
	line-height: 30px;
	text-align: center;
}

body>nav a {
	display: inline-block;
	width: 100px;
	text-align: center;
}

body>nav a:hover {
	background: #666;
}